$color_primary : #6001d2;
$color_primary_contrast : #ffffff;
$color_secondary : #232a31;
$color_secondary_contrast : #39007d;
$color_accent : #6001d2;
$color_text_dark : #000000;
$color_text_med : #828282;
$color_text_light : #bfeceb;
$color_gray_darker : #4A4A4A;
$color_gray_dark : #999999;
$color_gray_light : #DFDFDF;
$color_gray_lighter : #F2F2F2;
$color_text_input_hints : #A9C5FB;
