$color_primary : #6031bc;
$color_primary_contrast : #FFFFFF;
$color_secondary : #5870F4;
$color_secondary_contrast : #5870f4;
$color_accent : #8249cf;
$color_text_dark : #060970;
$color_text_med : #828282;
$color_text_light : #ffffff;
$color_gray_darker : #4A4A4A;
$color_gray_dark : #999999;
$color_gray_light : #DFDFDF;
$color_gray_lighter : #F2F2F2;
$color_text_input_hints : #c4c4c4;
