%font-regular {
  font-family: 'SamsungSharpSans', sans-serif;
  font-weight: 400;
}

%font-semi {
  font-family: 'SamsungSharpSans', sans-serif;
  font-weight: 600;
}

%font-bold {
  font-family: 'SamsungSharpSans', sans-serif;
  font-weight: 700;
}