@import './colors.scss';

.body {
  display: flex;    
  height: 60px;
  align-items: center;
  padding: 0.5rem 2.5rem;
  background-color: black;
  color: white;
  span {
    font-size: 46px;
    line-height: 46px;
    display: inline-block;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }
}

.buttons {
  button:first-of-type {
    margin-right: 10px;
    background-color: $color_secondary_contrast;
  };
}