@import './colors.scss';

.body {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  span {
    font-size: 23px;
    line-height: 27px;
    display: inline-block;
    width: 100%;
  }
}

.buttons {
  button:first-of-type {
    margin-right: 10px;
    background-color: $color_secondary_contrast;
  };
}

@media (max-width: 768px) {
  .body {
    span {
    }
  }
}