@import './colors.scss';

.is-vertical {
  flex-direction: column;
}

.hero-image {
}

.hero-widgets {
  overflow: hidden;
}

.hero-data {
  display: flex;
  flex-direction: column;
  background-color: $color_text_light;
  color: $color_text_dark;

  .title {
    font-size: 72px;
    font-family: 'AvantGardeGothicITCW02Dm'
  }

  .subtitle {
    font-size: 60px;
  }

  .date {
    font-size: 48px;
  }

  .link {
    padding-right: 10px;

    .button {
      background-color: red;
      color: #fff;
      height: 5rem;
      width: 20rem;

      i {
        color: #fff;
        height: 1em;
        width: 2.5em;
        margin-right: auto;
        font-size: 1.8em;
      }

      b {
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      &:hover,
      &:active {
        border-color: #fff;
      }

      &:focus {
        border-color: #fff;
        box-shadow: none;
      }
    }

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  .hero-buttons {
    margin-top: 2.5rem;
  }
}

.hero-masonry {

  img {
    object-fit: cover;
    height: 50vh;
  }

  .image-slider {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    overflow: hidden;

    img {
      height: 100vh;
    }
  }
}


@media (max-width: 978px) {
  .hero-data {
    .title {
      font-size: 60px;
    }

    .subtitle {
      font-size: 48px;
    }

    .date {
      font-size: 36px;
    }
  }
}

@media (max-width: 768px) {
  .hero-data {
    .title {
      font-size: 48px;
    }

    .subtitle {
      font-size: 36px;
    }

    .date {
      font-size: 24px;
    }
  }
}