@import './colors.scss';

.is-vertical {
  flex-direction: column;  
}

.hero-image {
  height: 90vh;
}

.hero-widgets {
  overflow: hidden;
}

.hero-data {
  height: 50vh;
  display: flex;
  flex-direction: column;
  background-color: $color_text_light;
  color: red;
  .title {
    font-size: 72px;
  }
  .subtitle {
    font-size: 60px;
  }
  .date {
    font-size: 48px;
  }
  .countdown {
    align-self: flex-start;
  }
}

.hero-masonry {
  .image-slider {
    height: 370px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    overflow: hidden;
  }
}