@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/components/navbar";

@import './colors.scss';

.navbar {
  background-color: $color_primary;
  min-height: 7.25rem;

  .navbar-brand {
    padding-left: 1rem;

    &--half-color {
      width: 50%;
      background-color: red;
    }

    img {
      max-height: 4rem;
    }
  }

  .navbar-end {
    padding-right: 15px;
  }

  .user-icon {
    padding-left: 10px;
    color: $color_text_light;
  }



  .navbar-item {
    color: $color_text_light;

    &--half-color {
      color: red;
    }
  }

  .navbar-menu {
    &--half-color {
      background-color: $color_text_light;
    }

    .navbar-item {
      font-weight: 300;

      .link {
        color: $color_text_light;

        &:hover {
          text-decoration: none;
          color: $color_text_light;
        }

        &:active {
          text-decoration: underline;
          color: $color_text_light;
        }

        &:visited {
          color: $color_text_light;
        }

        &--half-color {

          &:hover,
          &:active,
          &:visited {
            color: red;
          }
        }
      }
    }

    .buttons {
      &--half-color {
        .user-icon {
          color: red;
        }
      }
    }
  }
}




.navbar-brand {
  min-height: 7.25rem;
}

.navbar-burger {
  height: auto;
}

.user-navbar {
  background-color: #616266;
  min-height: 4.25rem;

  .navbar-start {
    padding-left: 15px;
  }

  .navbar-end {
    padding-right: 5px;
  }

  .lobby-button {
    padding: 0 60px;
    margin-left: 5px;
  }

  .user-burger {
    display: block;
    color: $color_text_light;

    &--half-color {
      color: red;
    }
  }

  .user-icon {
    padding-left: 10px;
    color: $color_text_light;
  }
}

@media (max-width: 1023px) {
  .navbar {

    .navbar-brand {
      &--half-color {
        width: auto;
      }
    }

    .navbar-burger {
      color: $color_text_light;
    }

    .navbar-menu {
      .navbar-item {
        .link {
          color: $color_primary;

          &:hover {
            color: $color_primary;
          }

          &:active {
            color: $color_primary;
          }

          &:visited {
            color: $color_primary;
          }
        }
      }

      .buttons {
        flex-direction: column;
        align-items: flex-start;
      }

      .user-icon {
        color: $color_primary;
        padding-bottom: 5px;
      }
    }
  }
}