.voteButton {
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  &.add {
    background-color: #999999;
  }
  &.added {
    background-color: #FF5E32;
  }
  &.disabled {
    background-color: #DFDFDF;
  }
  i {
    margin-top: 5px;
  }
}